<!DOCTYPE html>
<html lang="nl">
    
<head>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- TITLE -->
    <title>PixelJobs - Home</title>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/index/index-nav.css">
    <link rel="stylesheet" type="text/css" href="./css/index/index-header.css">
    <link rel="stylesheet" type="text/css" href="./css/index/index-main.css">
    <link rel="stylesheet" type="text/css" href="./css/menu.css">

</head>

<body>

    <!-- NAV -->
    <nav>
        <h1>Profiel</h1>
    </nav>

    <!-- HEADER -->
    <header>
        <img src="./img/profiel-foto.jpg" alt="profiel-foto">
        <section>
            <h2> <%= firstName %> <%= lastName %> </h2>
            <p> <%= jobFunction %> </p>
            <span>
                <p><img src="./img/leeftijd.svg" alt="leeftijd"> <%= age %> </p>
                <p><img src="./img/locatie.svg" alt="locatie"> <%= residence %> </p>
            </span>
        </section>
        <a href="/profiel-bewerken"><img src="./img/bewerk.svg" alt="bewerk">Profiel bewerken</a>
    </header>

    <!-- MAIN -->
    <main>
        <section>
            <h2>Over mij</h2>
            <p> <%= aboutMe %> </p>
        </section>
        <section>
            <h2>Opleidingen</h2>
            <p> <%= education %> </p>
        </section>
        <section>
            <h2>Werkervaring</h2>
            <p> <%= workExperience %> </p>
        </section>
        <section>
            <h2>Soft skills</h2>
            <p> <%= softSkills %> </p>
        </section>
        <section>
            <h2>Hard skills</h2>
            <p> <%= hardSkills %> </p>
        </section>
    </main>

    <!-- MENU -->
    <% include('partials/menu.ejs') %>

    <!-- MENU -->
<nav>
    <ul>
        <li><a><img src="./img/matchen.svg" alt="matchen"></a></li>
        <li><a><img src="./img/chatten.svg" alt="chatten"></a></li>
        <li><a href="/index"><img src="./img/profiel.svg" alt="profiel"><div class="menu-item-geselecteerd"></div></a></li>
        <li><a><img src="./img/instellingen.svg" alt="instellingen"></a></li>
    </ul>
</nav>
    
</body>

</html>