<!DOCTYPE html>
<html lang="NL">

<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>PixelJobs - Profiel Bewerken</title>

    <!-- Js -->
    <script defer src="./js/save-button.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/menu.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-nav.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-header.css">
    <link rel="stylesheet" type="text/css" href="./css/profiel-bewerken/profiel-bewerken-main.css">

</head>

<body>

    <!-- Nav -->
    <nav>
        <a href="/index"><img src="./img/terug.svg" alt="terug"><p>Terug</p></a>
        <h1>Profiel Bewerken</h1>
    </nav>

    <!-- Header -->
    <header>
        <div class="profile-picture-container">
            <img src="./img/profiel-foto.jpg" alt="profiel-foto">
            <button class="button-hover"><img src="./img/camera.svg" alt="camera"></button>
        </div>
    </header>

    <!-- Main -->
    <main>
        <section>

            <form action="/index" method="POST">

                <!-- Algemene informatie -->
                <h2>Algemene informatie</h2>

                <label>Voornaam</label>
                <input placeholder="Vul in..." type="text" name="firstName" value="<%= profile.firstName %>">

                <label>Achternaam</label>
                <input placeholder="Vul in..." type="text" name="lastName" value="<%= profile.lastName %>">

                <label>Leeftijd</label>
                <input placeholder="Vul in..." type="number" name="age" value="<%= profile.age %>">

                <label>Woonplaats</label>
                <input placeholder="Vul in..." type="text" name="residence" value="<%= profile.residence %>">

                <label>Functie</label>
                <input placeholder="Vul in..." type="text" name="jobFunction" value="<%= profile.jobFunction %>">

                <!-- Gedetaileerde informatie -->
                <h2>Gedetailleerde informatie</h2>
                
                <label>Over mij</label>
                <input placeholder="Vul in..." type="text" name="aboutMe" value="<%= profile.aboutMe %>">

                <label>Opleidingen</label>
                <button class="button-hover"><img src="./img/toevoegen.svg" alt="toevoegen">Opleidingen toevoegen</button>
                <input placeholder="Vul in..." type="text" name="education" value="<%= profile.education %>">

                <label>Werkervaring</label>
                <button class="button-hover"><img src="./img/toevoegen.svg" alt="toevoegen">Werkervaring toevoegen</button>
                <input placeholder="Vul in..." type="text" name="workExperience" value="<%= profile.workExperience %>">

                <label>Soft skills</label>
                <input placeholder="Vul in..." type="text" name="softSkills" value="<%= profile.softSkills %>">

                <label>Hard skills</label>
                <input placeholder="Vul in..." type="text" name="hardSkills" value="<%= profile.hardSkills %>">

                <!-- Save button -->
                <button type="submit"><img src="./img/save.svg" alt="save">Opslaan</button>

            </form>

        </section>
    </main>

    <!-- Menu partial -->
    <%- include('menu-partial') %>
    
</body>

</html>